[[keys]]
    index = §BUTTON_ID§
    [keys.widget]
        id = "button"
        [keys.widget.config]
            icon = "assets/§OS§.png"
            label = "§OS§"
            fontsize = 8
        [keys.action]
            exec = "qm start §VMID§"  
EOL
EOL