[Unit]
Description=Deckmaster Service

[Service]
# adjust the path to deckmaster and .deck file to suit your needs
Type=Simple
ExecStartPre=/bin/bash -c '%h/.config/proxmox_controller/create.sh'
ExecStart=deckmaster -deck %h/.config/proxmox_controller/main.deck
ExecReload=kill -HUP 

[Install]
WantedBy=default.target